@import url('_partials/reset.css');

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  height: calc(100vh - 90px);
}

/* ** common ** */

/* colori */
:root {
  --bg-color-black: #000000;
  --txt-color-white: #fff;
  --colore-grey: #717171;
  --bg-slider: #5a5a5a;
  --bg-darkgrey: #282828;
  --txt-lightgrey: #a3a3a3;
  --bg-darkblu: #141922;
}

.txt-color-grey {
  color: var(--colore-grey);
}

.txt-color-white {
  color: var(--txt-color-white);
}
/* /colori */

/* allineo gli lementi al centro orizontalmente */
.txt-center {
  text-align: center;
}

/* posizioni gli lementi un affianco all'altro */
.row {
  display: flex;
}

/* posizioni gli elementi lungo sull'asse orizontale */
.align-center {
  align-items: center;
}

/* posizioni gli elementi centralmente del contenitore */
.justify-center {
  justify-content: center;
}

/* rimuvo l'elemento dal flusso della pagina */
.display-none-block {
  display: none;
}

/* rimuovo i pallini da affinaco la lista*/
.list-style-none {
  list-style-type: none;
}

/* permette all'immagine di diventare rotonda */
.round-image {
  border-radius: 50%;
  display: inline-block;
}
/* dimensioni immagine rispetto al suo contenitore per farla diventare rotonda */
.round-image img {
  width: 100%;

  display: block;
}

/* font weight bold */

.font-weight-700 {
  font-weight: 700;
}
/* ** /common ** */

/* ***** main ****** */

/* ** sidebar  ** */

/* ***debug*** */
.debug .links {
  background-color: red;
}
.debug .playlist {
  background-color: green;
}
.debug .nome-playlist {
  background-color: blue;
}
.debug .el-nom-playlist {
  background-color: pink;
}
.debug .profilo {
  background-color: lightblue;
}
/* *** /debug*** */

/* la side bar ho definito all'interno la sua grandezza il colore e la disposizione dei sui lementi all'interno e l'impossibilità di schiiacciarsi più della sua grandezza */
.sidebar {
  width: 50px;
  background-color: var(--bg-color-black);
  height: 100%;
  flex-direction: column;
  flex-shrink: 0;
}

/* ho definito una grandezza standard che le immagini assumono */
.sidebar img {
  width: 28px;
}

/* il container logo spazia i sui lementi dal container sopra e sotto */
.logo {
  padding: 5px 0;
}

/* l'elemento logo ha queste caratteristiche */
#logo {
  width: 132px;
  margin: 20px 20px;
  display: none;
}

/**** /links ****/

/* oggni lemento il gli ha una spaziatura in alto e in basso */
.links li {
  margin: 13px 0;
}

/* in links  hanno queste caratteristiche */
.links a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 14px;

  justify-content: center;
  color: var(--colore-grey);
}

/* colore del primo paragrafo nell'ul*/
.links ul li:first-of-type p {
  color: var(--txt-color-white);
}

/* l'immagine diventa scende di gradazione del 18% */
.links ul li img {
  filter: invert(18%);
}

/* quando passo il mouse sopra al link l'immagine diventa bianca */
.links ul a:hover img {
  filter: invert(0%);
}

/* quando passo sopra con il mouse il testo diiventa bianca */
.links ul a:hover {
  color: var(--txt-color-white);
  cursor: pointer;
}

/* i paragrafi in links hanno queste caratteristiche */
.links p {
  margin-left: 4px;
  display: none;
}
/**** /links ****/

/* *** playlist *** */

/* il container playlist prende tutto lo spazio disponibile fa si che tutti gli elmenti che occupanno lo spazio a schermo superiore tale che altri eleenti della sidebar non vengano sovrascritto */
.playlist {
  flex-grow: 1;
  flex-direction: column;
  overflow-y: hidden;
  display: none;
}

/* ** header ** */
/* gli lementi dentro all'header sono spaziati dal contenitore in questo modo */
.header {
  padding-left: 20px;
  padding-bottom: 23px;
}

/* l'h5 ha un distanziamento sopra e sotto */
.header h4 {
  margin: 12px 0;
  color: var(--txt-color-white);
  text-transform: uppercase;
}

/* l'icona ha queste caratteristiche */
.header li i {
  font-size: 40px;
  margin-right: 12px;
  color: var(--txt-lightgrey);
}

/* ** header ** */

/* * nome playlist* */

.playlist .nome-playlist {
  overflow-y: auto;
}

/* la lista dei nomi paragrafo ha queste caratteristiche */
.nome-playlist .el-nom-playlist li {
  padding-bottom: 20px;
  margin-left: 20px;
}
/* * /nome playlist* */

/* *sezione hover* */

/* quando passo sopra appare come un testo */
.playlist .header li:first-of-type h4 {
  cursor: text;
}

/* passandoci sopra appare bianco */
.header li:hover i {
  color: var(--txt-color-white);
}

/* passandoci sopra appare bianco */
.playlist li:hover {
  color: var(--txt-color-white);
  cursor: pointer;
}
/* * /sezione hover* */

/* *** /playlist *** */

/* *profilo* */

/* il container profilo si posiziona infondo al container sidebar perchè il margine auto si prende tutto il margine che ha a disposizioe */
.profilo {
  margin-top: auto;
}

/* il download ha queste caratteristiche e posiziona l'emento al centro */
.profilo .download {
  justify-content: center;
  padding-bottom: 12px;
}

/* l'immagine in download ha queste caratteristiche */
.profilo .download img {
  width: 12px;
  filter: invert(46%);
}

/* il paragrafo prima della dimensione xs no si vede */
.profilo .download p {
  display: none;
  margin-left: 12px;
  color: var(--colore-grey);
}

/* il container dell'immagine di profilo si distanzia superioremente  */

.icon-name-profilo {
  margin-top: 14px;
  margin-bottom: 7px;
}

/* caratteriistiche icona profilo */
.profilo .round-image {
  height: 25px;
  width: 25px;
  overflow: hidden;
  background-color: gray;
  object-fit: cover;
}

/* dimensioni immaggine */
.profilo .round-image img {
  width: 100%;
  display: block;
}

/* colore paragrafo e pargine sinistro */
.icon-name-profilo p {
  margin-left: 10px;
  color: var(--txt-color-white);
}

/* *sezione hover* */
/* icona dell'download diventa bianca */
.profilo .download:hover img {
  filter: invert(0%);
}

/* il paragafo diventa bianca ed esce la manina quan ci si passa sopra */
.profilo .download:hover p {
  color: var(--txt-color-white);
  cursor: pointer;
}
/* * /sezione hover* */

/* * /profilo* */

/* ** sidebar  ** */

/* *** corpo *** */

/* *debug* */
.debug .corpo {
  background-color: magenta;
}

.debug .update {
  background-color: red;
}
.debug .update button {
  background-color: blue;
}

.debug .corpo .navbar {
  background-color: yellow;
}

.debug .recently {
  background-color: cyan;
}

.debug.dedicated {
  background-color: brown;
}

.debug .popular {
  background-color: purple;
}
/* * /debug* */

/* il corpo della pagina si prende tutto lo spazio disponibile */
.corpo {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  background-color: var(--bg-darkblu);
}

/* calcolo delle larghezza che si prendono i box dedlle immagini */
.calc-width {
  width: calc((100% - 10px) / 2);
}

/* * update* */

/*  altezza del contenitore */
.update {
  height: 90px;
  position: fixed;
  width: calc(100% - 50px);

  background-color: rgba(0, 0, 0, 0.5);
}

/* caratteristiche del button */
.update button {
  text-transform: uppercase;
  margin: auto 20px auto auto;
  border: white solid 2px;
  background-color: transparent;
  border-radius: 30px;
  padding: 14px 40px;
  font-size: 16px;
}

.update button:hover {
  transform: scale(110%);
}

/* * /update* */

/* *navbar* */

.navbar {
  margin-top: 90px;
}

/* gli elementi che non riescono ad entrare nel vieport vanno a capo*/
.navbar ul {
  flex-wrap: wrap;
}

/* caratteristiche della lista */
.navbar li {
  margin: 22px 10px;
  text-transform: uppercase;

  color: var(--colore-grey);
}

/* * /navbar* */

/* * recently* */

.box-song {
  padding: 22px 22px;
}

.box-song ul {
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.box-song li img {
  width: 100%;
  display: block;
}

.box-song li h5 {
  margin-top: 20px;
  color: var(--txt-color-white);

  font-size: 18px;
}

.box-song li p {
  line-height: 34px;
  font-size: 14px;
}

/* * /recently* */

/* * dedicated* */

/* * /dedicated* */

/* * popular* */

/* * /popular* */

/* *** /corpo *** */

/* ***** /main ****** */

/* ***** footer ****** */

/* *debug* */
.debug footer {
  background-color: bisque;
}

.debug .footer-left {
  background-color: red;
}
.debug .footer-middle {
  background-color: red;
}
.debug .footer-right {
  background-color: red;
}
/* * /debug* */

/* definiamo la grandezza del footer e lo spaziamento dei suoi lementi all'interno*/
footer {
  height: 90px;
  background-color: var(--bg-darkgrey);

  justify-content: space-between;
}

/* grandezza del contenitore dell'immagine */
.footer-left .footer-img {
  width: 38px;
}

/* grandezza dell'immagine */
.footer-left .footer-img img {
  width: 100%;
}

/* direzione delle icone nella parte sinistra del footer */
.footer-left-icon {
  flex-direction: column;
}

/* facciamom prendere alla parte centrale tutto lo spazio disponibile allineammo i suoi  alemente centralmente */
.footer-middle {
  flex-grow: 1;
  text-align: center;
}

/* gli span sono allineati verticalmente lungo l'asse orizontale tra di loro */
.footer-middle span {
  vertical-align: middle;
}

/* todo nella sezione xs gli lementti dle footer occupano tutti e 3 1/3 del footer */

/* spaziemmnto del contenuto a destra del footer */
.footer-right {
  padding-right: 20px;
}

/* grandezza dello slider  centrale */
.footer-middle .slider input[type='range'] {
  width: 60%;
}

/* grandezza del contenitore dello slider */
.footer-right .slider {
  width: 85px;
}

/* caratteristiche  dello slider*/
.slider input[type='range'] {
  width: 100%;
  appearance: none;
  height: 5px;
  vertical-align: middle;

  border-radius: 5px;
  background: var(--bg-slider);
  outline: none;
}

/* caratteristiche  della barra dello slider*/
.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* ***** /footer ****** */

/* *** media *** */

@media screen and (min-width: 576px) {
  /* ridefiniamo la grandezza della side bar */
  .sidebar {
    width: 230px;
  }

  /* il logo diventa visibile */
  #logo {
    display: block;
  }

  /* il logo piccola diventa invisibile */
  #logo-small {
    display: none;
  }

  /* questa classe permette agli lementi di tornare visibili */
  .display-none-block {
    display: block;
  }

  /* faccio diventare playlist flex */
  .playlist {
    display: flex;
  }

  /* il paragrafo in link diventa visibile */
  .links p {
    display: block;
  }

  /* i link si allineano a sinistra */
  .links a {
    justify-content: left;
  }

  /* gli lementi del profilo si allineano a sinistra e hanno una spaziiatura a sinistra e a destra */
  .profilo {
    text-align: left;
    padding: 0 20px;
  }

  /* il downaload presenta un bordo inferiore e si allinea a sinistra */
  .profilo .download {
    border-bottom: var(--colore-grey) solid 2px;
    justify-content: left;
  }
  /* il paragrafo in download diventa dinuvo visibile */
  .profilo .download p {
    display: block;
  }

  /* lo spazio occupato dal container update in alto */
  .update {
    width: calc(100% - 230px);
  }
}

@media screen and (min-width: 768px) {
  /* ridiensionamento img */
  .calc-width {
    width: calc((100% - 30px) / 4);
  }

  /* le icone nella  parte sinistra  del footer di posizionanon una affianco all'altra */
  .footer-left-icon {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  /* ridiensionamento img */
  .calc-width {
    width: calc((100% - 50px) / 6);
  }
}

/* *** media *** */
