@import url('_partials/reset.css');

body {
  font-family: 'Montserrat', sans-serif;
}

/* ** common ** */

/* colori */
:root {
  --bg-color-black: #000000;
  --txt-color-white: #fff;
  --colore-grey: #717171;
  --colore-darkblu: #080b12;
}

.color-white {
  color: var(--txt-color-white);
}
/* /colori */

/* allineo gli lementi al centro orizontalmente */
.txt-center {
  text-align: center;
}

/* posizioni gli lementi un affianco all'altro */
.row {
  display: flex;
}

/* posizioni gli elementi lungo sull'asse orizontale */
.align-center {
  align-items: center;
}

/* posizioni gli elementi centralmente del contenitore */
.justify-center {
  justify-content: center;
}

/* rimuvo l'elemento dal flusso della pagina */
.display-none-block {
  display: none;
}

/* rimuovo i pallini da affinaco la lista*/
.list-style-none {
  list-style-type: none;
}

/* ** /common ** */

/* ***** main ****** */

/* ** sidebar  ** */

/* ***debug*** */
.debug .links {
  background-color: red;
}
.debug .playlist {
  background-color: green;
}
.debug .nome-playlist {
  background-color: blue;
}
.debug .el-nom-playlist {
  background-color: pink;
}
.debug .profilo {
  background-color: lightblue;
}
/* *** /debug*** */

/* la side bar ho definito all'interno la sua grandezza il colore e la disposizione dei sui lementi all'interno e l'impossibilità di schiiacciarsi più della sua grandezza */
.sidebar {
  width: 50px;
  background-color: var(--bg-color-black);
  height: calc(100vh - 90px);
  flex-direction: column;
  flex-shrink: 0;
}

/* ho definito una grandezza standard che le immagini assumono */
.sidebar img {
  width: 28px;
}

/* il container logo spazia i sui lementi dal container sopra e sotto */
.logo {
  padding: 5px 0;
}

/* l'elemento logo ha queste caratteristiche */
#logo {
  width: 132px;
  margin: 20px 20px;
  display: none;
}

/**** /links ****/

/* oggni lemento il gli ha una spaziatura in alto e in basso */
.links li {
  margin: 13px 0;
}

/* in links  hanno queste caratteristiche */
.links a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
}

/* i paragrafi in links hanno queste caratteristiche */
.links p {
  margin-left: 4px;
  display: none;
}
/**** /links ****/

/* *** playlist *** */

/* il container playlist prende tutto lo spazio disponibile fa si che tutti gli elmenti che occupanno lo spazio a schermo superiore tale che altri eleenti della sidebar non vengano sovrascritto */
.playlist {
  flex-grow: 1;

  overflow-y: hidden;
}

/* ** header ** */
/* gli lementi dentro all'header sono spaziati dal contenitore in questo modo */
.header {
  padding-left: 20px;
  padding-bottom: 23px;
}

/* l'h5 ha un distanziamento sopra e sotto */
.header h5 {
  margin: 12px 0;
}

/* l'icona ha queste caratteristiche */
.header li i {
  font-size: 40px;
  margin-right: 12px;
}

/* il paragrafo a queste caratteristiche */
.header li p {
  font-weight: 700;
}

/* ** header ** */
/* todo da rivedere scroll bar */
/* .playlist .nome-playlist {
  overflow-y: auto;
} */

/* la lista dei nomi paragrafo ha queste caratteristiche */
.nome-playlist .el-nom-playlist li {
  padding-bottom: 20px;
  margin-left: 20px;
  font-weight: 700;
}

/* *** /playlist *** */

/* *profilo* */

/* il container profilo si posiziona infondo al container sidebar perchè il margine auto si prende tutto il margine che ha a disposizioe */
.profilo {
  margin-top: auto;
}

/* il download ha queste caratteristiche e posiziona l'emento al centro */
.profilo .download {
  justify-content: center;
  padding-bottom: 12px;
}

/* l'immagine in download ha queste caratteristiche */
.profilo .download img {
  width: 12px;
}

/* il paragrafo prima della dimensione xs no si vede */
.profilo .download p {
  display: none;
}

/* il container dell'immagine di profilo si distanzia superioremente  */
.profilo .img-profilo {
  margin-top: 14px;
}

/* permette all'immagine di diventare rotonda */
.round-image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: gray;
  display: inline-block;
}

/* dimensioni immagine rispetto al suo contenitore per farla diventare rotonda */
.round-image img {
  padding: 0 0;
  width: 100%;
  height: 100%;
  display: block;
}

/* * /profilo* */

/* ** sidebar  ** */

/* *** corpo *** */

/* *debug* */
.debug .corpo {
  background-color: blue;
}

.debug .update {
  height: 90px;
  background-color: red;
}
.debug .update button {
  background-color: blue;
}

.debug .corpo .navbar {
  background-color: yellow;
}

.debug .recently {
  background-color: cyan;
}

.debug.dedicated {
  background-color: brown;
}

.debug .popular {
  background-color: purple;
}
/* * /debug* */

/* il corpo della pagina si prende tutto lo spazio disponibile */
.corpo {
  flex-grow: 1;
}

/* * update* */

/*  altezza del contenitore */
.update {
  height: 90px;
}

/* caratteristiche del button */
.update button {
  margin: auto 5px auto auto;
  border: white solid 2px;
  background-color: transparent;
  border-radius: 30px;
  padding: 14px 40px;
  font-weight: 700;
}

/* * /update* */

/* *navbar* */

/* gli elementi che non riescono ad entrare nel vieport vanno a capo*/
.navbar ul {
  flex-wrap: wrap;
}

/* caratteristiche della lista */
.navbar li {
  margin: 22px 10px;
  font-weight: 700;
  color: var(--colore-grey);
}

/* * /navbar* */

/* * recently* */

.recently ul {
  flex-wrap: wrap;
}

.recently li {
  width: calc(100% / 2);
}

.recently li img {
  width: 100%;
  display: block;
}

/* * /recently* */

/* * dedicated* */

/* * /dedicated* */

/* * popular* */

/* * /popular* */

/* *** /corpo *** */

/* ***** /main ****** */

/* ***** footer ****** */

/* definiamom la grandezza del footer */
footer {
  height: 90px;
  background-color: bisque;
}

/* ***** /footer ****** */

/* *** media *** */

@media screen and (min-width: 576px) {
  /* ridefiniamo la grandezza della side bar */
  .sidebar {
    width: 230px;
  }

  /* il logo diventa visibile */
  #logo {
    display: block;
  }

  /* il logo piccola diventa invisibile */
  #logo-small {
    display: none;
  }

  /* questa classe permette agli lementi di tornare visibili */
  .display-none-block {
    display: block;
  }

  /* il paragrafo in link diventa visibile */
  .links p {
    display: block;
  }

  /* i link si allineano a sinistra */
  .links a {
    justify-content: left;
  }

  /* gli lementi del profilo si allineano a sinistra e hanno una spaziiatura a sinistra e a destra */
  .profilo {
    text-align: left;
    padding: 0 20px;
  }

  /* il downaload presenta un bordo inferiore e si allinea a sinistra */
  .profilo .download {
    border-bottom: var(--colore-grey) solid 2px;
    justify-content: left;
  }
  /* il paragrafo in download diventa dinuvo visibile */
  .profilo .download p {
    display: block;
  }
}

/* *** media *** */
