@import url('_partials/reset.css');

body {
  font-family: 'Montserrat', sans-serif;
}
/* ** common ** */

/* colori */
:root {
  --bg-color-black: #000000;
  --txt-color-white: #fff;
  --colore-grey: #717171;
}

.color-white {
  color: var(--txt-color-white);
}
/* /colori */

/* allineo gli lementi al centro orizontalmente */
.txt-center {
  text-align: center;
}

.row {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.display-none-block {
  display: none;
}

.list-style-none {
  list-style-type: none;
}

/* ** /common ** */

/* ***** main ****** */

/* ** sidebar  ** */

/* ***debug*** */
.debug .links {
  background-color: red;
}

.debug .playlist {
  background-color: green;
}

.debug .nome-playlist {
  background-color: blue;
}

.debug .el-nom-playlist {
  background-color: pink;
}

.debug .profilo {
  background-color: lightblue;
}
/* *** /debug*** */
.sidebar {
  width: 50px;
  background-color: var(--bg-color-black);
  height: calc(100vh - 90px);
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar img {
  width: 28px;
}

.logo {
  padding: 5px 0;
}

#logo {
  width: 132px;
  margin: 20px 20px;
  display: none;
}

/**** /links ****/

.links li {
  margin: 13px 0;
}

.links a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
}

.links p {
  margin-left: 4px;
  display: none;
}
/**** /links ****/

/* *** playlist *** */
.playlist {
  flex-grow: 1;

  overflow: hidden;
}

/* ** header ** */
.header {
  padding-left: 20px;
  padding-bottom: 23px;
}

.header h5 {
  margin: 12px 0;
}

.header li i {
  font-size: 40px;
  margin-right: 12px;
}

.header li p {
  font-weight: 700;
}

/* ** header ** */
/* todo da rivedere scroll bar */
/* .playlist .nome-playlist {
  overflow-y: auto;
} */

.nome-playlist .el-nom-playlist li {
  padding-bottom: 20px;
  margin-left: 20px;
  font-weight: 700;
}

/* *** /playlist *** */

/* *profilo* */

.profilo {
  margin-top: auto;
  text-align: center;
}

.profilo .download {
  justify-content: center;
  padding-bottom: 12px;
}

.profilo .download img {
  width: 12px;
}

.profilo .download p {
  display: none;
}

.profilo .img-profilo {
  margin-top: 14px;
}

/* permette all'immagine di diventare rotonda */
.round-image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: gray;
  display: inline-block;
}

/* dimensioni immagine rispetto al suo contenitore per farla diventare rotonda */
.round-image img {
  padding: 0 0;
  width: 100%;
  height: 100%;
  display: block;
}

/* * /profilo* */

/* ** sidebar  ** */

.menu {
  flex-grow: 1;
}

/* ***** /main ****** */

/* ***** footer ****** */

footer {
  height: 90px;
  background-color: bisque;
}

/* ***** /footer ****** */

/* *** media *** */

@media screen and (min-width: 576px) {
  .sidebar {
    width: 230px;
  }
  #logo {
    display: block;
  }
  #logo-small {
    display: none;
  }

  .display-none-block {
    display: block;
  }

  .links p {
    display: block;
  }

  .links a {
    justify-content: left;
  }

  .profilo {
    text-align: left;
    padding: 0 20px;
  }

  .profilo .download {
    border-bottom: var(--colore-grey) solid 2px;
    justify-content: left;
  }
  .profilo .download p {
    display: block;
  }
}

/* *** media *** */
